nav {
  // GRADIENT
  background: #4b6cb7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-top: 8px;
  padding-bottom: 8px;
}

nav a:hover, .navbar.is-dark .navbar-item.has-dropdown:hover .navbar-link {
  background-color: inherit !important;
}