@import "theme";
@import "nav";
@import "poll-box";
@import "header";
@import "footer";
@import "charts/bars";
@import "charts/pie";
@import "charts/binary-slider";

.medium-top-margin {
  margin-top: 15px !important;
}

@media screen and (min-width: 980px) {
  .grid {
    flex-flow: row wrap !important;
    display: flex;
    justify-content: space-around;

    .poll-box {
      max-width: 30%;
      min-width: 350px;
      margin-bottom: 24px;
    }
  }
}

.figure-card {
  width: 100%;
}

form {
  max-width: 40rem;
}

.is-hidden {
  display: none;
}

.is-pulled-bottom {
  bottom: 0px;
  position: static;
}

.box {
  height: unset;
}