@import "theme";
@import "nav";
@import "header";
@import "footer";

#info{
  background: $light-gray;
  margin: 0;
  padding-top: 3 * $padding-top;
  padding-bottom: 3 * $padding-top;
  vertical-align: text-top;
  align-items: flex-start;
  padding-bottom: 4 * $padding-top;

  p.heading{
    margin-top: 6px;
    font-weight: bold;
  }

  .level-item{
    p{
      width: 250px;
    }
  }
}
