@import "theme";
@import "nav";
@import "poll-box";
@import "header";
@import "footer";

#info{
  background: $light-gray;
  margin: 0;
  padding-top: 3 * $padding-top;
  padding-bottom: 3 * $padding-top;
  vertical-align: text-top;
  align-items: flex-start;

  p.heading{
    margin-top: 6px;
    font-weight: bold;
  }

  .level-item{
    p{
      width: 250px;
    }
  }
}

#polls{
  padding-top: 2 * $padding-top;
  padding-bottom: 4 * $padding-top + 24px + 3 * $padding-top;
  padding-left: $padding-left;
  padding-right: $padding-left;

  .columns{
    margin-top: 5px;
  }
}

#poll{
  padding: 3 * $padding-top $padding-left;
  padding-bottom: 4 * $padding-top + 24px + 3 * $padding-top;
  margin: 0;

  .tag{
    margin-bottom: 4px;
  }

  .checkbox span, .radio span{
    color: #aaaaaa;
  }

  input[type=checkbox], input[type=radio]{
    margin-right: 5px;
  }
}
