/*
Error: Undefined variable: "$blue".
        on line 2 of SCSS/charts/bars.scss

1: .bar{
2:   fill: $blue;
3: }
4: 
5: .bar-chart{
6:   position: relative;
7: 

Backtrace:
SCSS/charts/bars.scss:2
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/script/tree/node.rb:50:in `perform'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:135:in `with_frame'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `with_base'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:440:in `map'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:135:in `with_frame'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `with_base'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:10:in `visit'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:320:in `block in watch'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$blue\".\A         on line 2 of SCSS/charts/bars.scss\A \A 1: .bar{\A 2:   fill: $blue;\A 3: }\A 4: \A 5: .bar-chart{\A 6:   position: relative;\A 7: "; }
