<div class="table-chart">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Count</th>
        <th>Percent</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for row in data|dictsortreversed:"y" %}
      <tr>
        <td class="is-narrow"><span class="table-rank"></span></td>
        <td class="is-narrow" class="table-name"><strong>{{row.x}}</strong></td>
        <td class="is-narrow">{{row.y}}</td>
        <td class="is-narrow">{{row.percent|floatformat}}%</td>
        <td><progress class="progress is-link" value="{{row.percent}}" max="100">{{row.percent|floatformat}}%</progress></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>