.pie-chart{
  text-align: center;
  position: relative;

  .tooltip{
    text-align: left;
  }

  .column{
    margin-top: 10px;
  }

  svg{
    padding: 0 !important;
  }
}

.pie-label{
  text-align: left;
  padding-left: 15px;
}

.bubble{
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 8px;
}

@media screen and (max-width: 768px){
  svg{
    margin: 0 auto;
  }

  .pie-label{
    width: 300px;
    margin: 10px auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
