{% extends 'polls/content.html' %}

{% block title %}
<title>My Account • PollPA</title>
{% endblock %}

{% block header %}
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Account Management
      </h1>
      <h2 class="subtitle">
        Manage your account settings and change your password on this page.
      </h2>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<form action="/account/" method="post">
  {% if submitted %}
  <div class="notification is-success">
    <strong>Your details are updated!</strong> The new settings were applied to your account.
  </div>
  {% endif %}
  <a href="{% url 'logout' %}" class="button is-info is-outlined">Log Out This Computer</a>
  <a href="{% url 'superlogout' %}" class="button is-danger is-outlined">Log Out Everywhere</a>
  <hr>
  {% csrf_token %}
  <div class="control">
    <input class="input" type="text" value="{{request.user.email}}" disabled>
  </div>
  <br>
  <div class="control">
    <input class="input" type="text" value="Class of {{profile.grade}}" disabled>
  </div>
  <hr>
  <label class="checkbox">
    <input type="checkbox" name="emailupdates" {% if profile.send_emails %} checked {% endif %}>
    <span>Send email updates (for new polls, usually)</span>
  </label>
  <br>
  <br>
  <div class="control">
    <input class="input" type="password" name="password" placeholder="Enter new password, if you wish">
  </div>
  <br>
  <button class="button is-link light" type="submit">Update Settings</button>
  <hr>
</form>
{% endblock %}