{% extends 'polls/base.html' %}
{% load static %}

{% block css %}
  <link type = "text/css" rel = "stylesheet" href = "{% static 'CSS/auth.css' %}">
{% endblock %}

{% block body %}
  <div class = "columns is-centered is-vcentered">
    <div class = "column is-6">
      <h1 class = "title">{{title}}</h1>
      <form action = "{{action}}" method = "post">
        <input class = "input" type = "text" name = "username" placeholder = "Username"/>
        <input class = "input" type = "password" name = "password" placeholder = "Password"/>
        <br>
        <br>
        <button class = "button is-blue light" type = "submit"> {{title}}
      </form>
    </div>
  </div>
{% endblock %}
