{% extends 'polls/base.html' %}
{% load static %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'CSS/main.css' %}">
{% endblock %}

{% block body %}
<div id="wrapper">
  <!-- NAV -->
  {% include "polls/nav.html" %}

  <!-- HEADER -->
  {% block header %}
  {% endblock %}

  {% if error %}
  <div class="notification is-danger">
    {{error}}
  </div>
  {% endif %}

  <!-- CONTENT -->
  {% block content %}
  {% endblock %}

  <!-- FOOTER -->
  {% include "polls/footer.html" %}
</div>
{% endblock %}