{% extends 'polls/content.html' %}

{% block title %}
<title>PollPA</title>
{% endblock %}

{% block header %}
<section class="hero is-medium is-dark" id="index-hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <h1 class="title is-size-2">Casual campus-wide polls. Let's talk about what's interesting.</h1>
          <p class="subtitle medium-top-margin">Phillips Academy is a complex place. PollPA lets you share your voice —
            and doesn't take itself too seriously. Entirely student-run. New poll every Monday, Wednesday, and Friday at 5pm.</p>
          {% if request.user.is_authenticated %}
          <a class="button is-info is-medium" href="/poll/{{most_recent_poll_id}}">Most Recent Poll</a>
          {% else %}
          <a class="button is-info is-medium" href="{% url 'register' %}">Sign Up</a>
          {% endif %}
        </div>
        <div class="column is-offset-1 is-5">
          <p class="heading">Most Recent Poll</p>
          {% include "polls/poll-box.html" with poll=polls|first %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <div>
            <i class="fas fa-user-secret is-size-3"></i>
            <p class="heading is-size-6">Anonymous</p>
            <p>
              Your vote isn't tied to your account, so there is no way for anyone — even the site operators — to know how you voted. And if you don't believe us, you can read the <a href="https://github.com/pollpa/PollPA">code</a> yourself.
            </p>
          </div>
        </div>
        <div class="column has-text-centered">
          <div>
            <i class="fas fa-bolt is-size-3"></i>
            <p class="heading is-size-6">Instant</p>
            <p>
              The polls can be completed in seconds, and you can see the preliminary results immediately. With frequent polls, there's no need to wait weeks for answers.
            </p>
          </div>
        </div>
        <div class="column has-text-centered">
          <div>
            <i class="fas fa-chart-pie is-size-3"></i>
            <p class="heading is-size-6">Informative</p>
            <p>
              With frequent all-school polls, you can get useful data about the current climate on campus — as told by the students themselves. And it's all fully transparent.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<section id="polls">
  <div class="has-text-centered">
    <h2 class="is-size-5 heading">All Polls</h2>
  </div>
  <br>
  <div class="grid">
    {% for poll in polls %}
    {% include "polls/poll-box.html" with poll=poll %}
    {% endfor %}
  </div>
</section>
{% endblock %}