{% extends 'polls/content.html' %}

{% block title %}
  <title>Login • PollPA</title>
{% endblock %}

{% block header %}
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Log In
      </h1>
      <h2 class="subtitle">
        Welcome back. Fascinating polling data awaits you.
      </h2>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
{% comment %} <form action="/login/" method="post">
  {% csrf_token %}
  <div class="field has-addons">
    <p class="control is-expanded">
      <input class="input" type="text" name="email" placeholder="Email">
    </p>
    <p class="control">
      <a class="button is-static">
        @andover.edu
      </a>
    </p>
  </div>
  <div class="field">
    <p class="control"><input class="input" type="password" name="password" placeholder="Password" /></p>
  </div>
  <br>
  <input class="button is-link light" type="submit" />
  <a class = "button is-link is-outlined" href="{% url 'register' %}">Create New Account</a>
  <a class = "button is-link is-outlined" href="{% url 'reset' %}">Reset Password</a>
</form> {% endcomment %}
<div class="notification is-danger">
You are viewing an archived version of PollPA. Interactive functionality, such as logging in and voting, is no longer available.
</div>
{% endblock %}
