{% extends 'polls/content.html' %}
{% load static %}

{% block title %}
  <title>{{poll.title}} • PollPA</title>
{% endblock %}

{% block header %}
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{poll.title}}
      </h1>
      <h2 class="subtitle">
        {{poll.description}}
      </h2>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<section id="poll" class="columns">
  <div class="column is-2">
    {% if poll.completed %}
      <span class="tag is-medium is-danger level-item">Poll Closed</span><br>
    {% else %}
      <span class="tag is-medium is-success level-item">10hr left</span><br>
    {% endif %}
    <br>
    <p class="heading">Launched</p>
    <p>{{poll.available}}</p>
    <br>
    <p class="heading">Responses</p>
    <p>{{poll.votes|length}}</p>
  </div>
  <div class="column is-10" id="questions">
    {% if state == "results" %}
      {% for response in responses %}
        <h2 class="is-size-4 title">{{response.title}}</h2>
        <p class="subtitle is-size-5">{{response.description}}</p>

        {% if response.graph == "bar" %}
          {% include "polls/graphs/bar.html" with data=response.data xlabel=response.xlabel ylabel=response.ylabel %}
        {% elif response.graph == "binary-slider" %}
          {% include "polls/graphs/binary-slider.html" with data=response.data %}
        {% elif response.graph == "pie" %}
          {% include "polls/graphs/pie.html" with data=response.data ylabel=response.ylabel  %}
        {% endif %}
        <br>
        <br>
      {% endfor %}
    {% elif state == "vote" %}
      <form action="/poll/{{poll.id}}/" method="post">
        {% csrf_token %}
        {% for question in poll.questions %}
          {% include 'polls/question.html' with question=question %}
        {% endfor %}
        <button type="submit" class="button is-primary">Vote</button>
      </form>
    {% elif state == "authenticate" %}
      <div class="notification is-warning">
        <p>
        <strong>You must be logged in to see this page!</strong>
        This poll is not yet public. If you want to interact with this poll, you'll need to log in or create an account first.
        </p>
        <a class="button is-info" href="{% url 'register' %}">Create New Account</a>
        <a class="button is-info" href="{% url 'login' %}">Log In</a>
      </div>
    {% elif state == "wait" %}
      <div class="notification is-warning">
        <p>
        <strong>You'll need to wait!</strong>
        You didn't vote in this poll, so you can't see its results until they become public on {{poll.public}}.
        </p>
      </div>
    {% endif %}
  </div>
</section>
{% endblock %}

{% block scripts %}
  {% if state == "results" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
    <script src="{% static 'polls/JS/poll.js' %}"></script>
  {% endif %}
{% endblock %}
