{% load humanize %}

<a class="column box poll-box {{class}}" href="/poll/{{poll.id}}">
  <h3 class="is-size-4">{{poll.title}}</h3>
  <p class="is-size-5">{{poll.description}}</p>

  <div class="level badges is-mobile">
    <div class="level-left">
      {% if poll.is_completed %}
      <span class="tag is-danger level-item">Poll Closed</span>
      <span class="tag level-item">{{poll.votes|length}} Responses</span>
      {% else %}
      <span class="tag is-success level-item">Closes {{poll.closes|naturaltime}}</span>
      {% endif %}
    </div>

    <div class="level-right">
      <p class="level-item heading">Posted {{poll.available|naturalday}}</p>
    </div>
  </div>

</a>