{% extends 'polls/content.html' %}
{% load static %}

{% block header %}
  <header class = "default">
    <h1 class = "title is-size-2">Poll Title</h1>
    <p class = "subtitle">Poll description should go here</p>
  </header>
{% endblock %}

{% block content %}
  <section id = "poll" class = "columns">
    <div class = "column is-2">
      {% if completed %}
        <span class = "tag is-medium is-red level-item">Poll Closed</span><br>
      {% else %}
        <span class = "tag is-medium is-green level-item">10hr left</span><br>
      {% endif %}
      <br>
      <p class = "heading">CREATION DATE</p>
      <p>1/11/19</p>
      <br>
      <p class = "heading">RESPONSES</p>
      <p>139</p>
    </div>
    <div id = "questions" class = "column is-10">
      {% if completed %}
        {% for response in responses %}
          <h2 class = "is-size-4 title">{{response.title}}</h2>
          <p class = "subtitle is-size-5">{{response.description}}</p>

          {% if response.graph == "bar" %}
            {% include "polls/graphs/bar.html" with data=response.data xlabel=response.xlabel ylabel=response.ylabel %}
          {% endif %}
          <br>
          <br>
        {% endfor %}
      {% else %}
        {% for question in questions %}
          {% include "polls/question.html" with question=question %}
        {% endfor %}
      {% endif %}
    </div>
  </section>
{% endblock %}

{% block scripts %}
  {% if completed %}
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
    <script src = "{% static 'JS/poll.js' %}"></script>
  {% endif %}
{% endblock %}
