{% extends 'polls/content.html' %}

{% block header %}
  <header class = "default">
    <h1 class = "title is-size-2">Poll Title</h1>
    <p class = "subtitle">Poll description should go here</p>
  </header>
{% endblock %}

{% block content %}
  <section id = "poll" class = "columns">
    <div class = "column is-2">
      {% if completed %}
        <span class = "tag is-medium is-red level-item">Poll Closed</span><br>
      {% else %}
        <span class = "tag is-medium is-green level-item">10hr left</span><br>
      {% endif %}
      <br>
      <p class = "heading">CREATION DATE</p>
      <p>1/11/19</p>
      <br>
      <p class = "heading">RESPONSES</p>
      <p>139</p>
    </div>
    <div class = "column is-10">
      {% if completed %}
      {% else %}
        {% for question in questions %}
          {% include "polls/question.html" with question=question %}
        {% endfor %}
      {% endif %}
    </div>
  </section>
{% endblock %}
