<h5 class="is-size-5 title">{{question.text}}</h5>
<p class="subtitle is-size-6">
  {% if question.description %}
    {{question.description}}
  {% else %}
    {% if question.kind == "MS" %}
      You may select multiple options.
    {% else %}
      You may select only one option.
    {% endif %}
  {% endif %}
</p>

{% if question.kind == "MS" %}
<div class="control">
  {% for option in question.options %}
  <label class="checkbox">
    <input type="checkbox" name="question-{{question.id}}" value="option-{{option.id}}">
    {{option.text}}
    {% if option.description %}
    <span>({{option.description}})</span>
    {% else %}
    {% endif %}
  </label>
  <br>
  {% endfor %}
</div>
{% elif question.kind == "SS" %}
<div class="control">
  {% for option in question.options %}
  <label class="radio">
    <input type="radio" name="question-{{question.id}}" value="option-{{option.id}}">
    {{option.text}}
    {% if option.description %}
    <span>({{option.description}})</span>
    {% endif %}
  </label>
  <br>
  {% endfor %}
</div>
{% endif %}
<hr>