{% extends 'polls/content.html' %}

{% block title %}
  <title>Reset Password • PollPA</title>
{% endblock %}

{% block header %}
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Reset Password
      </h1>
      <h2 class="subtitle">
        Enter your email below and we'll send you a link to log in to your account.
      </h2>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
  {% if maybe_sent_email %}
    <div class="notification is-success">
      <strong>Check your inbox!</strong>
      If an account exists in our system with the email you specified, a password reset link has been sent. If you don't receive this email, check your spam folder and make sure you entered your email correctly on this website.
    </div>
    <a href="{% url 'index' %}" class="button is-info">Return Home</a>
    <a href="{% url 'reset' %}" class="button is-warning">Request Again</a>
  {% else %}
    <form action = "/reset/" method = "post">
      {% csrf_token %}
      <div class="field has-addons">
        <p class="control is-expanded">
          <input class="input" type="text" name = "email" placeholder="Email">
        </p>
        <p class="control">
          <a class="button is-static">
            @andover.edu
          </a>
        </p>
      </div>
      <input class = "button is-warning light" type = "submit" value = "Reset Password"/>
    </form>
  {% endif %}
{% endblock %}
