{% extends 'polls/content.html' %}

{% block title %}
  <title>Reset Password • PollPA</title>
{% endblock %}

{% block header %}
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Reset Password
      </h1>
      <h2 class="subtitle">
        Enter your email below and we'll send you a link to log in to your account.
      </h2>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
  <form action = "/reset" method = "post">
    <div class="field has-addons">
      <p class="control is-expanded">
        <input class="input" type="text" name = "email" placeholder="Email">
      </p>
      <p class="control">
        <a class="button is-static">
          @andover.edu
        </a>
      </p>
    </div>
    <br>
    <input class = "button is-blue light" type = "submit" value = "Reset Password"/>
  </form>
{% endblock %}
