{% extends 'polls/content.html' %}

{% block title %}
  <title>Suggest a Question • PollPA</title>
{% endblock %}

{% block header %}
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Suggestions
      </h1>
      <h2 class="subtitle">
        Do you have an idea for a good poll question? General feedback? Submit it here!
      </h2>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<form action="/suggest/" method="post">
  {% if submitted %}
    <div class="notification is-success">
      <strong>Thanks for submitting!</strong> A question curator will review it shortly. You will be notified via email if your suggestion is eventually used.
    </div>
  {% endif %}
  {% csrf_token %}
  <textarea class="textarea" placeholder="Write your suggestion here..." name="text"></textarea>
  <br>
  <p>Please keep in mind that we review many suggestions, and are not able to respond to each one individually. Rest assured that we will read each and every one.</p>
  <br>
  <input class="button is-link light" type="submit" />
</form>
{% endblock %}
