<p>Hi again,</p>

<p>You didn't respond to our last poll, but we thought we'd still give you an opportunity to participate in today's poll about (non) sibi culture at PA.</p>

<p>No, this isn’t just another survey from the administration. PollPA is an entirely student-run polling project that’s meant to be fun, anonymous, quick, and interesting.</p>

<p>Unlike other campus polls, there will never be more than five questions on a poll, and you’ll be able to see live results as soon as you submit your response &mdash; think Instagram polls, but better.</p>

<p>We hope you’ll join us. It won’t take more than thirty seconds.</p>

<p><a href="https://pollpa.com{% url 'poll' poll.id %}?token={{token.identifier}}">Cast your vote here.</a></p>

<p>Best,<br>
The PollPA Team</p>

<p>P.S.: The results are anonymous. <i>Properly anonymous.</i> You can <a href="https://github.com/pollpa/PollPA">read the code</a> if you don’t believe us.</p>
