{% load humanize %}

<p>Hey there. It's time. A new poll has been released about <strong>{{poll.about}}</strong>.</p>

<p>The poll will close {{poll.closes|naturaltime}}, and you'll be able to see the preliminary results as soon as you submit your vote.</p>

<p><strong><a href="https://pollpa.com{% url 'poll' poll.id %}?token={{token.identifier}}">Click here</a> to vote in this poll.</strong> You can see the poll questions below.</p>

<p><strong>{{poll.title}}</strong><br>{{poll.description}}</p>
<p>Questions:</p>
<ul>
{% for question in poll.questions %}
<li>{{question.text}} {{question.description}}</li>
{% endfor %}
</ul>

{% include 'polls/emails/footer.html' %}