{% load humanize %}

<p>Hey there. It's time. A <a href="https://pollpa.com{% url 'poll' poll.id %}?token={{token.identifier}}">new poll</a> has been released about <strong>{{poll.about}}</strong>.</p>

<p>The poll will close {{poll.closes|naturaltime}}, and you'll be able to see the preliminary results as soon as you submit your vote. And remember, you'll get a laptop sticker in your mailbox if you vote more than five times.</p>

<p><a href="https://pollpa.com{% url 'poll' poll.id %}?token={{token.identifier}}">Click here</a> to vote in this poll. You can see the poll questions below.</p>

<p><strong>{{poll.title}}</strong><br>{{poll.description}}</p>
<p>Questions:</p>
<ul>
{% for question in poll.questions %}
<li>{{question.text}}</li>
{% endfor %}
</ul>

{% include 'polls/emails/footer.html' %}