<p>Hello {{user.username}},</p>

<p><strong>Thanks for participating in PollPA!</strong> Your account has been successfully created. You can log in at <a href="https://pollpa.com{% url 'index' %}?token={{token.identifier}}">PollPA.com</a>.</p>

{% if password %}
<p>Because your account was generated automatically, you have been assigned a randomly generated password (shown below). We recommend that you change this password in your <a href="https://pollpa.com{% url 'account' %}?token={{token.identifier}}">account settings</a>.</p>

<p>Your temporary password: {{password}}</p>
{% endif %}

<p>We're glad that you're participating. PollPA is a casual, fun way to gauge campus opinion &mdash; and we hope you'll continue to vote in future polls.</p>

<p>By the way: if you vote in <strong>at least six polls</strong>, you'll get a <strong>PollPA laptop sticker</strong> in your mailbox.</p>

{% include 'polls/emails/footer.html' %}